/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
ul li {
    cursor: pointer;
    padding: 12px 3px 12px 4px;

    font-size: 18px;
    color: #000000;
    position:fixed;
    bottom:30%;
    right:18%;
}

/* Style the close button */
.close {
    position: absolute;
    left: 80%;
    top: 0;
    padding: 12px 16px 12px 16px;

}

/* Style the input */
input {
    border: none;
    width: 15%;
    padding: 10px;
    float: left;
    font-size: 16px;
    position:fixed;
    bottom:37%;
    right:13%;
}

/* Style the "Add" button */
.addBtn {
    padding: 10px;
    width: 10%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    position:fixed;
    bottom:37%;
    right:2%;
}

.addBtn:hover {
    background-color: #bbb;
}